/* Reset CSS */

/* Box sizing border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Reset de margens e paddings */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

/* Remove list styles */
ol,
ul {
    list-style: none;
}

/* Remove hyperlink text decoration */
a {
    text-decoration: none;
}

/* Remove default cursor for disabled elements */
[disabled] {
    cursor: default;
}

/* Remove user agent styles for buttons */
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

/* Remove overflow hidden from the main element */
main {
    display: block;
    overflow: hidden;
}

/* Clear floats */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
