.titulo{
    text-align: center;
    font-size: 5rem;
    font-family: var(--fonte-medieval);
    background-color: black;
    color: green;
}
  .todos-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
  }
  
  .card {
    width: 320px; /* Largura fixa do card */
    height: 150px;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    background-color: white;
    border-radius: 10px;
  }
  
  .card img {
    margin: 8px 0 0 6px;
    width: 8rem;
    height: 120px;
  }
  
  .card-content {
    padding: 1rem 0 0 1rem;
  }
  