*{
    background-color: #0e040e;
}

.titulo{
    color: green;
    font-size: 50px;
    text-align: center;
    padding-bottom: 1rem;
    line-height: 6rem;
    margin-top: 0.8rem;
    font-family: var(--fonte-medieval);
    border-bottom: 3px solid green;
    border-width: 100%;
    text-shadow: 2px 2px 1px white;
}

.subtitulo > .text-sub{
    color: white;
    font-size: 0.8rem;
    text-align: center;
    font-family: var(--fonte-principal);
    margin-top: 3%;
}
.blocos{
    display: flex;
    flex-wrap: wrap;
    padding-left: 4%;
    font-family: var(--fonte-principal);
    padding-bottom: 10%;
    border-bottom: 2px solid green;
}

.quad{
    margin: 10% 5% 0 0;
    width: 11rem;
    height: 15rem;
    color: white;
    border-radius: 12px;
    
    
}
.quad img{
    margin: 0 0 0 0;
    width: 10.5rem;
    height: 14.7rem;
    border-radius: 12px;
    border: 1px solid greenyellow;
}
.texto-quad {
    text-decoration: none;
    color: white;
    text-align: center;
}




footer h2{
    font-size: 1.2rem;
    color: white;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: green;
}