*{
    background-color: #0e040e;
}
.logo{
    position: relative;
    z-index: 1;
}
.logo img {
    position: absolute;
    top: 2rem; /* ajuste conforme necessário */
    left: -1.5rem; /* ajuste conforme necessário */
    width: 100px; /* ajuste conforme necessário */
    height: auto; /* ajuste conforme necessário */
}

.titulo{
    color: green;
    font-size: 50px;
    text-align: center;
    padding-bottom: 1rem;
    line-height: 6rem;
    margin-top: 0.8rem;
    font-family: var(--fonte-medieval);
    border-bottom: 3px solid green;
    border-width: 100%;
    text-shadow: 2px 2px 1px white;
}

.subtitulo > .text-sub{
    color: white;
    font-size: 0.8rem;
    text-align: center;
    font-family: var(--fonte-principal);
    margin-top: 3%;
}
.blocos{
    display: flex;
    flex-wrap: wrap;
    padding-left: 6%;
    font-family: var(--fonte-principal);
    padding-bottom: 5%;
    border-bottom: 2px solid green;
}

.quad1{
    background-image: url(assets/copao.jpg);
    background-size: cover;
    margin: 10% 5% 0 0;
    width: 11rem;
    height: 15rem;
    color: white;
    border: 1px solid greenyellow;
    border-radius: 12px;
}

.quad2{
    background-image: url(assets/brahma.jpg);
    background-position: center center;
    margin: 10% 0 0 0;
    width: 11rem;
    height: 15rem;
    background-color: green;
    border: 1px solid greenyellow;
    border-radius: 12px;
}
.quad3{
    margin: 10% 5% 10% 0;
    width: 11rem;
    height: 15rem;
    background-image: url(assets/drink.jpg);
    border: 1px solid greenyellow;
    border-radius: 12px;
}
.quad4{
    margin: 10% 0 10% 0;
    width: 11rem;
    height: 15rem;
    background-image: url(assets/Salgadinhos.jpeg);
    background-size: cover;
    border: 1px solid greenyellow;
    border-radius: 12px;
}
.texto-quad {
    
    color: white;
    text-align: center;
    margin-top: 15.5rem; /* Ajuste conforme necessário */
}
.texto-quad2 {
    color: white;
    text-align: center;
    margin-top: 15.5rem;
}
footer h2{
    font-size: 1.2rem;
    color: white;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: green;
}