*{
    background-color: black;
}
.titulo{
    color: green;
    font-size: 50px;
    padding-left: 3.5rem;
    line-height: 6rem;
    margin-top: 17px;
    font-family: Luckiest Guy;
    border-bottom: 3px solid green;
    border-width: 100%;
}
.subtitulo > .text-sub{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--fonte-principal);
    margin-top: 5%;
}
.blocos{
    display: flex;
    flex-wrap: wrap;
    padding-left: 6%;
    font-family: var(--fonte-principal);
    padding-bottom: 5%;
    border-bottom: 2px solid green;
}

.quad1{
    background-image: url(assets/copao.jpg);
    background-size: cover;
    margin: 10% 5% 0 0;
    width: 11rem;
    height: 15rem;
    color: white;
    
}

.quad2{
    background-image: url(assets/brahma.jpg);
    background-position: center center;
    margin: 10% 0 0 0;
    width: 11rem;
    height: 15rem;
    background-color: green;
}
.quad3{
    margin: 10% 5% 10% 0;
    width: 11rem;
    height: 15rem;
    background-image: url(assets/drink.jpg);
}
.quad4{
    margin: 10% 0 10% 0;
    width: 11rem;
    height: 15rem;
    background-image: url(assets/Salgadinhos.jpeg);
    background-size: cover;
}
.texto-quad {
    
    color: white;
    text-align: center;
    margin-top: 15.5rem; /* Ajuste conforme necessário */
}
.texto-quad2 {
    color: white;
    text-align: center;
    margin-top: 15.5rem;
}